* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.content {


    /* content */

    /* Auto layout */
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    padding: 0 109px;
    gap: 20px 40px;

    width: 100%;



    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.card {
    /* card */

    /* Auto layout */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 400px;
    height: 300px;
    min-height: 300px;

    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(metan.png);*/
    border-radius: 15px;
    background-size: cover;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.cardTop {
    /* cardTop */

    /* Auto layout */
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 380px;



    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.cardTitle {
    /* cardTitle */

    /* Auto layout */
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 10px;
    gap: 10px;

    width: 180px;
    height: 73px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */

    color: #FFFFFF;

}

.cardButton button{
    /* cardButton */

    /* Auto layout */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;

    width: 170px;



    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.cardBottom {
    /* cardBottom */

    /* Auto layout */
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 10px;
    gap: 10px;

    width: 380px;



    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    /* identical to box height */

    color: #FFFFFF;

}