.footer {
    /* footer */
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
    gap: 100px;
    width: 100%;
    height: 160px;
    background: #203563;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
}

.logoImage {
    /* Стили для логотипа */
    height: auto;
    max-height: 60px;
    width: auto;
}

/* Планшеты */
@media (max-width: 768px) {
    .footer {
        padding: 30px 10px;
        gap: 50px;
        height: 120px;
        font-size: 24px;
        line-height: 36px;
    }
    
    .logoImage {
        max-height: 50px;
    }
}

/* Мобильные устройства */
@media (max-width: 480px) {
    .footer {
        padding: 20px 10px;
        gap: 20px;
        height: 100px;
        font-size: 18px;
        line-height: 28px;
    }
    
    .logoImage {
        max-height: 40px;
    }
}

/* Очень маленькие экраны */
@media (max-width: 320px) {
    .footer {
        padding: 15px 10px;
        gap: 15px;
        height: 80px;
        font-size: 16px;
        line-height: 24px;
    }
    
    .logoImage {
        max-height: 35px;
    }
}