.contentMore {
    /* contentMore */

    /* Auto layout */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;

    width: 100%;



    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.contentMoreFrame {
    /* contentMoreFrame */

    /* Auto layout */
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 100%;



    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.cardMoreImage {
    /* imageMore */

    /* Auto layout */
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 10px;
    gap: 10px;

    width: 50%;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

}

.textsMore {
    /* textsMore */

    /* Auto layout */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 40px;

    width: 50%;



    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;

}

.titleHeatMore {
    /* titleHeatMore */

    /* Auto layout */
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;

    width: 100%;
    height: 106px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.titleMore {
    /* titleMore */

    /* Auto layout */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;

    width: 50%;



    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 66px;
    /* identical to box height */

    color: #203563;



}

.heatMore {
    /* heatMore */

    /* Auto layout */
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    gap: 20px;

    width: 50%;



    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 66px;
    /* identical to box height */

    color: #203563;


}

.shortTextMore {

    width: 100%;
    padding: 20px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;

    color: #203563;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.fullTextMore {

    width: 100%;
    padding: 20px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;

    color: #203563;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

}