
.logoImage {
    /* photo 1 */

    width: 40px;
    height: 60px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 10px;
}

.bButton {
    /* Кнопка */

    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    gap: 10px;


    height: 51px;

    background: #0F94CF;
    border-radius: 5px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    color: #FFFFFF;
    text-underline: none;



}

.bButton:hover {
    background-color: #0D83B7;
}

.wButton {
    /* button2Req */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;

    height: 51px;
    background-color: #FFFFFF;
    border: 2px solid #0F94CF;
    border-radius: 5px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;

    color: #0F94CF;

}

.wButton:hover {
    background-color: #F5F5F5;
}

.headerMore {
    /* headerMore */

    /* Auto layout */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    gap: 10px;

    width: 100%;
    height: 80px;

    background: #203563;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.headerMoreFrame {
    /* headerMoreFrame */

    /* Auto layout */
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 100%;
    height: 80px;

    /*border-bottom: 2px solid #FFFFFF;*/

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.headerMoreLeftFrame {
    /* headerMoreLeftFrame */

    /* Auto layout */
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 50%;
    height: 80px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

}

.headerMoreRightFrame {
    /* headerMoreRightFrame */

    /* Auto layout */
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 50%;
    height: 80px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;

}


a {
    text-decoration: none;
}